.about-us {
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  gap: 5rem;
  transform: skew(140deg);
}

.about-us figure {
  flex-basis: 50%;
  width: 100%;
}

.about-us figure img {
  width: 100%;
}

.about-us aside {
  width: 30%;
  height: 80%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us aside blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: darkblue;
}

.about-us aside blockquote h1 {
  font-size: 3rem;
  font-weight: 100;
}

.about-us aside blockquote h2 {
  font-weight: 200;
  line-height: 1.5;
}

.about-us aside blockquote button {
  background-color: transparent;
  cursor: pointer;
}

.about-us aside button i {
  font-size: 2rem;
}

@media (max-width: 1400px) {
  .about-us aside {
    width: 50%;
    height: fit-content;
    margin-right: 1rem;
  }

  .about-us aside blockquote h2 {
    line-height: 1;
  }

  .about-us aside blockquote h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .about-us {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    transform: none;
    gap: 0.5rem;
    margin: 2rem 0;
  }

  .about-us aside {
    width: 90%;
    margin: 0 auto;
  }

  .about-us aside blockquote {
    width: 100% !important;
  }
}


 


