.footer {
  width: 100%;
  padding: 2.5%;
  background-color: rgb(208, 234, 246);
}

.footer figure {
  width: 100%;
  height: fit-content;
  position: relative;
}

.footer figure video {
  width: 100%;
  height: 70vh;
}

.footer figure h1 {
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  left: 20%;
  bottom: 5rem;
  color: darkblue;
}

.footer footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 2rem 0;
}

.footer footer blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer footer blockquote p {
  color: darkblue;
  font-size: 1.2rem;
}

.footer footer blockquote p b {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .footer figure h1 {
    left: 10%;
  }
}
