.homepage {
  width: 100%;
}
#my-class{
  height: 5px;
}
#navbar-logo-image{
  height: 100px;
  width: 300px;
  
}


.homepage blockquote {
  width: 100%;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  background-color: white;
}

.homepage blockquote h4 {
  font-size: 1.5rem;
  font-weight: 200;
  color: blue;
  
}

.homepage blockquote button {
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.homepage blockquote button i {
  font-size: 2.5rem;
}


.homepage figure {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.homepage figure video {
  width: 100%;
}

.homepage figure h1 {
  position: absolute;
  bottom: 40%;
  left: 10%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  #navbar-logo-image {
    height: 80px;
    width: 250px;
  }

  .homepage figure h1 {
    font-size: 2rem;
    bottom: 35%;
    left: 8%;
  }
}



@media (max-width: 480px) {
  

  .homepage blockquote {
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .homepage blockquote h4 {
    font-size: 1rem;
  }

  .homepage figure h1 {
    font-size: 1.5rem;
    bottom: 25%;
    left: 5%;
    text-align: center;
  }
}
