.sidebar {
  width: 100%;
  overflow: hidden;
}
.sidebar section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-1920px);
}

.sidebar div {
  width: 50%;
  background-color: darkblue;
  color: white;
  float: inline-end;
  height: 100vh;
  padding: 5rem;
  position: relative;
}

.sidebar div blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar div blockquote h1 {
  font-size: 3rem;
  font-weight: 100;
}

.sidebar div button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.sidebar div button i {
  font-size: 2.5rem;
}

@media (max-width: 480px) {
  .sidebar div {
    width: 100%;
    padding: 3rem;
  }
}

